ipykernel
numpy
requests ##this library commonly used to call APIs
streamlit ##to create web applications for machine learning and data science projects using python scripts
scikit-learn
nltk ##Natural language tool kit
matplotlib
seaborn
xgboost
beautifulsoup4
TensorFlow ##For building end to end deep learning projects
Keras #Keras API is wrapper on top of TensorFlow